/* ****** Variables ****** */

:root {
    --nav-color: #3a383f;
    --nav-bgcolor: #e9eaee;
    --nav-icon-color: #9c9fa9;
    --nav-hover-bgcolor: #d9d9de;

    --text-color: #000000;
    --text-bgcolor: #ffffff;
    --table-bgcolor: #fbfafd;
    --hover-bgcolor: #f5f5f5;
    --border-color: #dcdcde;

    --button-color: #2563eb;
    --button-hover-color: #0a58ca;
    --button-outline-color: #cccccc;

    --focus-border-color: #93c5fd;
    --focus-shadow-color: #2563eb1f; /* --button-color with transparency */

    --font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', sans-serif;
}

/* ****** Reset ****** */

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    color: var(--text-color);
    background-color: var(--nav-bgcolor);
    font-family: var(--font);
    font-size: 14px;
    letter-spacing: -0.01em;
    line-height: 1.5;
}

/* ****** Page Layout ****** */

body {
    display: grid;
    min-height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr auto;
    grid-template-areas:
        "header"
        "nav"
        "main"
        "footer";
}

/* two-column layout not effective on tablets */
@media (min-width: 769px) {
    body {
        grid-template-columns: auto 1fr;
        grid-template-rows: auto 1fr auto;
        grid-template-areas:
            "header header"
            "nav    main"
            "footer footer";

    }
}

header { grid-area: header; }
nav    { grid-area: nav; }
main   { grid-area: main; }
footer { grid-area: footer; }

/* ****** Header (Title Bar) ****** */

header {
    display: flex;
    padding: 8px 16px 0 16px;
    align-items: center; /* vertically */
}

header img {
    height: 22px;
}

header span {
    margin: 0 8px;
    color: var(--text-color);
    font-weight: 600;
}

header .rstm-left {
    margin-left: auto; /* to be used on first left-aligned child of <header> */
}

/* ****** Navigation (Sidebar) ****** */

nav {
    margin: 0 8px 0 8px;
    padding: 8px 0;
}

/* two-column layout not effective on tablets */
@media (min-width: 769px) {
    nav {
        margin: 0 0 0 8px;
        width: 200px;
    }
}

nav a {
    display: flex;
    border-radius: 6px;
    padding: 8px 12px;
    color: var(--nav-color);
    align-items: center;
    gap: 8px;
    text-decoration: none;
}

nav a:hover {
    background-color: var(--nav-hover-bgcolor);
}

nav a.rstm-active {
    color: var(--text-bgcolor);
    background-color: var(--button-color);
}

nav a.rstm-active:hover {
    background-color: var(--button-hover-color);
}

/* icon placeholder: small rounded square */
nav a span.rstm-sidebar-icon {
    width: 17px;
    height: 17px;
    border-radius: 4px;
    background-color: var(--nav-icon-color);
}

nav a.rstm-active span.rstm-sidebar-icon {
    background-color: var(--text-bgcolor);
}

/* ****** Main ****** */

main {
    margin: 8px;
    flex: 1; /* fill available space, horizontally */
    border-radius: 16px;
    padding: 16px;
    min-width: 0;
    background-color: var(--text-bgcolor);
}

main > :first-child {
    margin-top: 0;
}

main > :last-child {
    margin-bottom: 0;
}

/* ****** Footer ****** */

footer {
    padding: 0 16px 8px 16px;
    color: var(--text-color);
    font-size: 12px;
}

/* ****** Typography ****** */

h1 {
    margin: 18px 0;
    font-size: 30px;
}

h2 {
    margin: 18px 0;
    font-size: 20px;
}

h3 {
    margin: 14px 0;
    font-size: 16px;
}

h4, h5, h6 {
    margin: 14px 0;
    font-size: 14px;
}

blockquote {
    margin: 14px 0;
    border-left: 4px solid #a0a0a0;
    padding-left: 12px;
    background-color: #f0f0f0;
}

pre {
    padding: 16px;
    font-size: 12px;
    background-color: #f0f0f0;
}

code {
    background-color: #f0f0f0;
}

/* ****** Table ****** */

table {
    margin: 14px 0;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    border-collapse: separate; /* collapse does not work with radius */
    border-spacing: 0;
    overflow: hidden;
}

table th,
table td {
    border-bottom: 1px solid var(--border-color);
    padding: 8px 16px;
    text-align: left;
    vertical-align: top;
}

table th[align="center"],
table td[align="center"] {
    text-align: center;
}

table th[align="right"],
table td[align="right"] {
    text-align: right;
}

table th {
    background-color: var(--table-bgcolor);
    font-weight: 600;
}

table tbody th {
    border-right: 1px solid var(--border-color);
}

table tbody tr:hover {
    background-color: var(--hover-bgcolor);
}

/* ****** Form Layout ****** */

form.rstm-form,
form.rstm-form-grid {
    display: grid;
    margin: 14px 0;
    grid-template-columns: max-content;
    gap: 6px 16px;
}

form.rstm-form > label,
form.rstm-form-grid > label {
    font-weight: 600;
}

/* two-column layout not effective on phones */
@media (min-width: 481px) {

    form.rstm-form-grid {
        grid-template-columns: max-content max-content;
    }

    form.rstm-form-grid > label {
        grid-column: 1;
    }

    form.rstm-form-grid > input,
    form.rstm-form-grid > textarea,
    form.rstm-form-grid > select,
    form.rstm-form-grid > button,
    form.rstm-form-grid > a,
    form.rstm-form-grid > span {
        grid-column: 2;
    }
}

/* ****** Form: Input, Textarea, Select ****** */

input[type="text"],
input[type="password"],
input[type="date"],
input[type="time"],
input[type="range"],
textarea,
select {
    width: 240px;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    padding: 4px 12px;
    height: 30px;
    background-color: var(--text-bgcolor); /* override browser defaults again */
    font-family: var(--font); /* override browser defaults again */
    font-size: 14px; /* override browser defaults again */
}

input[type="date"],
input[type="time"] {
    width: 140px;
}

input[type="checkbox"],
input[type="radio"],
input[type="range"] {
    accent-color: var(--button-color);
}

/* File inputs are notoriously hard to style. Hide <input> and style <label> as outlined button. */
/* Clicking the label triggers the hidden file input when their 'for' and 'id' attributes are matching. */
input[type="file"] {
    display: none;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
input[type="time"]:focus,
textarea:focus,
select:focus {
    border-color: var(--focus-border-color);
    box-shadow: 0 0 0 3px var(--focus-shadow-color);
    outline: none;
}

/* ****** Form or Link: Button ****** */

input[type="submit"],
button,
.rstm-button,
.rstm-button-outline {
    display: inline-flex; /* for <a> with <img> */
    border: 1px solid var(--button-color);
    border-radius: 8px;
    padding: 4px 12px;
    height: 30px;
    color: var(--text-bgcolor);
    background-color: var(--button-color);
    font-family: var(--font);
    text-decoration: none;
    cursor: pointer;
    vertical-align: middle; /* don't align on text baseline */
    align-items: center; /* for flex */
    gap: 8px; /* for flex */
    align-self: start; /* don't stretch vertically */
    justify-self: start; /* don't stretch horizontally */
}

input[type="submit"]:focus,
button:hover,
.rstm-button:hover {
    background-color: var(--button-hover-color);
}

.rstm-button-outline {
    border-color: var(--button-outline-color);
    color: var(--text-color);
    background-color: transparent;
}

.rstm-button-outline:hover {
    background-color: var(--hover-bgcolor);
}

.rstm-button-outline img {
    width: 20px;
    height: 20px;
}

/* ****** Link: Inputgroup ****** */

.rstm-inputgroup {
    display: flex;
    padding: 0;
}

.rstm-inputgroup > a,
.rstm-inputgroup > span,
.rstm-inputgroup > input {
    display: inline-block;
    margin-right: -1px; /* margins must collapse */
    border: 1px solid var(--button-outline-color);
    border-radius: 0;
    padding: 4px 12px;
    height: 30px;
    color: var(--text-color);
    text-decoration: none;
}

.rstm-inputgroup > :first-child {
    border-radius: 8px 0 0 8px;
}

.rstm-inputgroup > :last-child {
    border-radius: 0 8px 8px 0;
}

.rstm-inputgroup > :hover {
    background-color: var(--hover-bgcolor);
}

/* ****** Box ****** */

.rstm-box {
    margin: 0 auto 0 auto;
    border: 2px solid var(--button-outline-color);
    border-radius: 12px;
    padding: 16px;
    width: max-content;
}

/* ****** Icon, Avatar ****** */

a.rstm-icon {
    display: inline-flex; /* <a> must grow to contained <img> */
    text-decoration: none;
}

a.rstm-icon img {
    height: 64px;
}

a.rstm-icon:hover {
    background-color: var(--hover-bgcolor);
}

img.rstm-avatar {
    border-radius: 8px;
    width: 64px;
    height: 64px;
}

/* ****** Alert ****** */

.rstm-alert-error,
.rstm-alert-warning,
.rstm-alert-info,
.rstm-alert-debug {
    margin: 14px 0;
    border: 1px solid;
    border-radius: 6px;
    padding: 12px 16px;
}

.rstm-alert-error {
    color: #58151c;
    border-color: #f1aeb5;
    background-color: #f8d7da;
}

.rstm-alert-warning {
    color: #664d03;
    border-color: #ffecb5;
    background-color: #fff3cd;
}

.rstm-alert-info {
    color: #0a3622;
    border-color: #a3cfbb;
    background-color: #d1e7dd;
}

.rstm-alert-debug {
    color: #41464b;
    border-color: #d3d6d8;
    background-color: #e2e3e5;
}

/* ****** Chart (chart.js) ****** */

.rstm-chart {
    margin: 14px 0;
    max-width: 100%;
}

/* ****** Map (leaflet.js) ****** */

.rstm-map {
    margin: 14px 0;
    border-radius: 6px;
    border: 1px solid var(--border-color);
    aspect-ratio: 1 / 1;
}
